:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --white: #ffffff;
  --cloud: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.flex-list {
  display: flex;
  gap: 24px;
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 0;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  text-align: center;
}
.paragraph-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.image {
  margin-bottom: 32px;
}
/* ------------------HEADER------------------- */
.header {
  padding: 24px 156px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo-header {
  margin-right: 76px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-part {
  color: var(--navy-blue);
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.header-link:hover,
.header-link:focus {
  color: var(--ocean);
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean);
}

/* -------------------HERO---------------------- */

.hero {
  background-color: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
  justify-content: center;
}
.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 48px;
  color: var(--white);
}
.hero-btn {
  min-width: 169px;
  height: 56px;
  background-color: var(--iris);
  color: var(--white);
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

/* -----------------ADVANTAGES------------------- */
.advantages {
  padding: 120px 156px 0px 156px;
}
.advantages-item {
  max-width: 264px;
}
/* ------------------WEDOING--------------------- */
.wedoing {
  padding: 120px 156px;
}

/* -----------------OUR TEAM--------------------- */

.team {
  background-color: var(--cloud);
  padding: 120px 156px;
}
.team-item {
  background-color: var(--white);
  width: calc((1158-24*3)/4);
}
.team-paragraph {
  text-align: center;
}
/* -----------------PORTFOLIO-------------------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-btn {
  color: var(--iris);
  background-color: var(--cloud);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white);
}

/* --------------------FOOTER-------------------- */
.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-text {
  color: var(--cloud);
  margin-top: 16px;
  max-width: 264px;
}
.logo-footer-part {
  color: var(--cloud);
}
